body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #1f1e1f;
}

h1 {
    color:  whitesmoke;
}

form {
    max-width: 400px;
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 8px;
    color: white;
}

select, input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

li:last-child {
    border-bottom: none;
}
